doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    block head

    link(rel="stylesheet", href="/css/style.css")
    
    title Natours | #{title}
  body
    include _header
    block content
    include _footer
    
    script(src=`/js/bundle.js?v=${Date.now()}`)
